data/GWAS/
data/models/
**/.DS_Store
code/__pycache__/
.Rhistory
data/Geneset/
code/gene_overlap.R
results/.DS_Store
data/DK-files/labels/
data/DK-files/masks/
data/DK-files/snapshots/
data/DK-files/contours_reduced.rda
data/DK-files/contours_smoothed.rda
data/DK-files/contours.rda